@font-face {
  font-family: 'Myriad Pro';
  src: url('myriadpro/MyriadPro-Regular.woff2') format('woff2'),
    url('myriadpro/MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro';
  src: url('myriadpro/MyriadPro-Light.woff2') format('woff2'),
    url('myriadpro/MyriadPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro';
  src: url('myriadpro/MyriadPro-Semibold.woff2') format('woff2'),
    url('myriadpro/MyriadPro-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro';
  src: url('myriadpro/MyriadPro-Bold.woff2') format('woff2'),
    url('myriadpro/MyriadPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro';
  src: url('myriadpro/MyriadPro-Black.woff2') format('woff2'),
    url('myriadpro/MyriadPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro SemiCond';
  src: url('myriadpro/MyriadPro-SemiCn.woff2') format('woff2'),
    url('myriadpro/MyriadPro-SemiCn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro SemiCond';
  src: url('myriadpro/MyriadPro-BoldSemiCn.woff2') format('woff2'),
    url('myriadpro/MyriadPro-BoldSemiCn.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro SemiExt';
  src: url('myriadpro/MyriadPro-SemiExt.woff2') format('woff2'),
    url('myriadpro/MyriadPro-SemiExt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad Pro SemiExt';
  src: url('myriadpro/MyriadPro-BoldSemiExt.woff2') format('woff2'),
    url('myriadpro/MyriadPro-BoldSemiExt.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
body, html {
  font-family: 'Myriad Pro';
  display: block;
  margin: 0 auto;
  padding: 0;
  color: #333;
}
html {
  /*background-image: url(bg1.png);*/
}
.navigation {
  width: 100%;
  height: 2.5em;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: white;
  display: flex;

  animation: navFadeIn 2.75s ease;
}
@keyframes navFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-25em);
  }
  65% {
    opacity: 0;
    transform: translateY(-25em);
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}
.menu {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  display: flex;  
  align-items: center;  
  justify-content: flex-end;
}
.menu__item {
  margin: 0 1%;

  display: flex;  
  align-items: center;  
  justify-content: center;
}
.menu__link {
  border-bottom: 1px solid transparent;
  padding: 0.3em;
  text-decoration: none;
  color: #333;
  letter-spacing: 0.1em;

  transition: .3s ease;
}
.menu__link:hover {
  color: #466AFF;
  border-bottom: 1px solid #466AFF;
}
.wrapper {
  width: 100%;

  display: flex;  
  align-items: center;  
  justify-content: center;  
  flex-direction: column;
}
.windows {
  width: 100%;
  height: 100vh;
  margin-bottom: 10vh;

  display: flex;  
  align-items: center;  
  justify-content: center;
}
.windows:first-child {
  width: 100%;
  height: 100vh;
}
.block {
  display: flex;  
  align-items: center;  
  justify-content: center;  
  flex-direction: column;

  width: 100%;
  height: 100vh;
  padding: 0 15%;
}
.block__big-text {
  box-sizing: border-box;
  line-height: 1em;
  width: 100%;
  height: 100%;
  font-size: 75px;
  font-weight: bold;
  position: relative;

  display: flex;  
  align-items: center;  
  justify-content: center;

  color: #333;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #333;

  animation: introFadeIn 2s ease;
}
.block__big-text:after {
  content: '\f085';
  /*content: '\f206';*/
  font-family: 'fontawesome';
  font-weight: lighter;
  position: absolute;
  text-align: center;
  padding-left: 50px;
}
@keyframes introFadeIn {
  0% {
    transform: scale(0);
  }
  65% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.block__text {
  font-size: 20px;
  letter-spacing: 0.025em;
  word-spacing: 0.15em;
  text-indent: 2.5em;
  text-align: justify;
  /*max-width: 850px;*/
  padding: 5% 10%;

  display: flex;  
  align-items: center;  
  justify-content: center;
}
.block__gear {
  font-family: 'fontawesome';
  font-weight: lighter;
}
.block__skill-holder {  
  display: flex;  
  align-items: center;  
  justify-content: center;  
  flex-direction: column;
}
.block__skills {
  min-width: 225px;
  font-size: 18px;

  display: flex;  
  align-items: center;  
  justify-content: flex-start;
  line-height: 1px;

  transition: .3s ease;
}
.block__skills:nth-child(1) {
  font-size: 20px;
  letter-spacing: 0.5em;
  margin: 0 0 -5px 0;
}
.block__skills:nth-child(2) {
  font-size: 30px;
  letter-spacing: 0.25em;
  margin-right: 225px;
}
.block__skills:nth-child(3) {
  font-size: 17px;
  letter-spacing: 0.35em;
  margin: -25px 0 0 170px;
}
.block__skills:nth-child(4) {
  font-size: 16px;
  letter-spacing: 0.15em;
  margin: 6px 160px 0 0;
}
.block__skills:nth-child(5) {
  font-size: 22px;
  letter-spacing: 0.25em;
  margin: -25px 0 0 100px;
}
.block__skills:nth-child(6) {
  font-size: 22px;
  letter-spacing: 0.20em;
  margin: 0 25px 0 0;
}
.block:hover .block__skills {
  line-height: 30px;
  font-size: 26px;
  letter-spacing: 0.15em;
  margin: 0;
}
.block__icons {  
  display: flex;  
  align-items: center;  
  justify-content: center;  
  flex-direction: row;
}
.block__links {
  border: 2px solid #333;
  border-radius: 10%;
  box-sizing: border-box;
  min-width: 75px;
  min-height: 75px;
  font-size: 40px;
  font-family: 'fontawesome';
  color: #333;
  text-decoration: none;

  display: flex;  
  align-items: center;  
  justify-content: center;

  transition: 150ms ease;
}
.block__links:hover {
  color: #FFF;
  background-color: #333;
}
.block__links:first-child {
  /*font-size: 42px;*/
  padding-top: 2px;
  color: #333;

  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #333;
}
.block__links:first-child:hover {
  background-color: #333;
  color: #FFF;

  -webkit-text-fill-color: #333;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFF;
}
.active {
  color: #466AFF;
  border-bottom: 1px solid #466AFF;
}
.fading {
  opacity: 0;
}
.map {
  width: 100%;
  /*min-height: 50vh;*/
  filter: grayscale(100%);
}
