@media only screen and (min-width: 2559px) {
  body, html {
    font-size: 125%;
  }
  .block__big-text {
    font-size: 6vw;
    /*justify-content: flex-start;*/
  }
  .block__text {
    font-size: 125%;
    padding: 5% 15%;
  }
}
@media only screen and (max-width: 1025px) {
  .block {
    padding: 0 5%;
  }
  .block__big-text {
    font-size: 60px;
  }
}

@media only screen and (max-width: 769px) {
  .block {
    padding: 0;
    flex-direction: row;
  }
  .block__big-text {
    font-size: 50px;
    padding-left: 2.5%;
    -webkit-text-stroke-width: 1px;
  }
  .block__text {
    font-size: 18px;
    padding: 5% 10%;
  }
  .block__skills:nth-child(-n+6) {
    line-height: 30px;
    font-size: 26px;
    letter-spacing: 0.15em;
    margin: 0;
  }
  .block__links {
    border: 2px solid #333;
  }
}

@media only screen and (max-width: 426px) {
  .block__big-text {
    font-size: 15vw;
  }
  .block__text {
    text-indent: 2em;
    padding: 5% 7.5%;
  }
  .menu {
    justify-content: center;
  }
  .menu__item {
    margin: 0 3vw;
  }
}

@media only screen and (max-width: 376px) {
  .block__text {
    text-indent: 1.5em;
  }
}